.popup{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #111;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.popup.show{
    opacity: 1;
    visibility: visible;
}