/* Typing Effect */
#typing::after {
  content: "|";
  animation: blink 1s infinite;
}

#typing.done::after {
  content: "";
  animation: none;
}

@keyframes blink {

  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}