/* ------------About Me section---------- */

.about-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.about-info:hover {
    box-shadow: var(--shadow-hover);
    outline: 1px solid var(--primary);
    cursor: pointer;
}

.about-text {
    width: 500px;
    line-height: 22px;

}

.about-info {
    width: 500px;
    padding: 30px 10px 40px;
    list-style-type: none;
    background-color: var(--bg);
    border-radius: 10px;
    box-shadow: var(--shadow);

}

.about-info div {
    display: flex;
    flex-direction: column;
}

.quick-facts {
    list-style-type: none;
    line-height: 40px;
}


/* ---------- media queries ------------ */

@media (max-width: 768px) {

    /* About */
    .about-text {
        text-align: center;
        width: 80%;
    }

    .about-info {
        width: 80%;

    }

    .about-info {
        padding: 30px 10px 40px;

    }

}