/* ------------Contact section---------- */

.contact-grid {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 15px 60px;
}

.contact-info {
    flex: 1 1 350px; 
}

.contact-form {
    flex: 1 1 300px; 
}

.contact-info h3 {
    padding: 20px;
}

.contact-methods div {
    padding: 0px 12px 0px;
}

.link:hover {
    color: var(--primary);
}

.contact-methods p,
.contact-methods a {
    text-decoration: none;
    color: var(--dark);
}

.contact-methods span {
    color: var(--text-light);
    font-size: 15px;
}

/* dialog box */
.diaolog-box {
    margin-top: 30px;
    background-color: var(--accent);
}

.diaolog-box>p {
    color: var(--text-light);
}

/* contact icons */
.contact-icons p {
    padding-left: 36px;
}

.contact-icon {
    color: var(--primary);
}

/* contact form */

.contact-form form {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.contact-form form label {
    margin: 0px 0px 8px;
    font-size: 0.875rem;
    font-weight: 500;
}

.contact-form form input {
    border-radius: var(--radius-md);
    border: none;
    margin: 4px 0px 8px;
    height: 40px;
    padding: 4px 12px;
    outline: none;
    color: var(--dark);
    background-color: var(--input-bg);
}

.contact-form form textarea {
    height: 65px;
    margin: 0px 0px 8px;
    padding: 8px 12px;
    resize: none;
    color: var(--dark);
    background-color: var(--input-bg);
    border-radius: var(--radius-md);
    border: none;
}

.contact-form form input:focus,
.contact-form form textarea:focus {
    outline: var(--input-outline);
    border: var(--input-border);
}

button[type="submit"] {
    background-color: var(--button-bg);
    border-radius: var(--radius-md);
    color: var(--bg);
    border: var(--button-border);
    padding: 8px 16px;
    margin: 4px 0px 8px;
    transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: var(--dark-hover);
}


/* ---------- media queries ------------ */

@media (max-width: 700px) {

    .contact-grid {
        padding: 15px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-form {
        width: 100%;
    }

    .contact-info {
        width: 90%;
    }
}