/* ------------footer section---------- */

footer{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding : 20px 20px;
     background-color: var(--footer-bg);
    
}
footer .icon-item>a{
    color: var(--icon-color);
    margin: 0px;

}
footer .icon-item>a:hover{
    color: var(--primary);
    transition: var(--transition);
}
.info-item1{
    color: var(--text-muted);
    font-size:medium;
}   
.info-item2{
    color: var(--text-light);
    font-size:medium;
}  
footer .info-item2 a{
    color: var(--primary);
} 


/* ---------- media queries ------------ */

/* 
@media (max-width: 768px) {

 
} */
