/* ------------footer section---------- */

footer{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    /* padding: 12px 12px 40px 12px; */
    padding : 20px 20px;
    /* background-color: rgb(12, 22, 116);
     */
     /* background-color: #101828; */
     background-color: var(--footer-bg);
    
}
footer .icon-item>a{
    color: var(--icon-color);
    margin: 0px;

}
footer .icon-item>a:hover{
    color: var(--primary);
    transition: var(--transition);
}
.info-item1{
    /* color: #99a1af; */
    color: var(--text-muted);
    font-size:medium;
}   
.info-item2{
    color: var(--text-light);
    font-size:medium;
}   


/* ---------- media queries ------------ */

/* 
@media (max-width: 768px) {

 
} */
