/* ------------Projects section---------- */

.projects-grid {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    padding: 12px 10px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* .projects-grid > article {
    flex: 1 1 340px;
    padding: 0; 
    border-radius: var(--radius-md);
    background-color: var(--bg);
    outline: var(--border);
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out, outline 300ms ease-in-out;
} */

.projects-grid>article {
    display: flex;
    align-items: center;
    gap: 12px;

}

.projects-grid>article:nth-child(even) .image-wrapper {
    order: 2;
}

.projects-grid>article:nth-child(even) .content {
    order: 1;
}

.content,
.image-wrapper {
    flex: 1;
}

.content h5 {
    margin-top: 20px;
    font-weight: 300;
    color: var(--primary);
    margin-left: 24px;
}

.content h4 {
    margin-top: 20px;
    padding: 0 25px;
    transition: color 300ms ease-in-out;
}

.content:hover h4 {
    color: var(--custom-bg);
}

.content p {
    color: var(--text-light);
    padding: 0 25px;
    margin-bottom: 15px;
}

.projects-skills-buttons {
    padding: 0 25px 15px 25px;
}

.project-buttons {
    padding: 0 25px 20px 25px;
    margin-top: auto;
}

/* --- Image Controls --- */

.image-wrapper {
    width: 100%;
    height: 300px;
    border-radius: var(--radius-md);
    overflow: hidden;
    /* outline: var(--border); */
    background: #eef1f6;
    border: none;
    /* outline: 1px solid rgba(111, 110, 110, 0.059); */
    /* aspect-ratio: 16 / 10; */
}

.project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: none;
    outline: none;
    transition: transform 400ms ease-in-out;
}

.projects-grid article:hover .project-img {
    transform: scale(1.04);
}

/* ---------- media queries ------------ */

@media (max-width: 768px) {

    /* Projects */
    /* .projects-grid {
        flex-direction: column;
        align-items: center;
        padding: 15px 10px;
    } */

    .projects-grid>article {
        display: flex;
        flex-direction: column;
        width: 95%;
        gap: 12px;
    }

    .projects-grid>article:nth-child(even) .image-wrapper,
    .projects-grid>article:nth-child(even) .content {
        order: initial;
    }

}