/* ------------Projects section---------- */

#projects{
    /* padding: 40px 0px 70px 0px; */
    background-color: var(--section-bg);
}
.projects-grid{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    padding: 12px 50px;
}

.projects-grid>article{
    flex: 1 1 340px;
    max-width: 600px;
    padding: 18px;
    border-radius: var(--radius-md);
    background-color: var(--bg);
    outline: var(--border);


}

.projects-grid article p{
    color: var(--text-light);
}

.projects-grid article:hover{
    outline: 1px solid var(--primary);
    box-shadow: var(--shadow-hover);
    cursor: pointer;
}

/* ---------- media queries ------------ */



@media (max-width: 768px) {

  /* Projects */
  .projects-grid {
    padding: 30px;

  }

}

