/* ------------Skills section---------- */

.skills-grid {
    display: flex;
    justify-content: space-between;
    /* align-items:stretch; */
    gap: 25px;
    flex-wrap: wrap;
    padding: 15px 80px;
}

.skill-category {
    flex:1 1 300px;
    padding: 30px;
    box-shadow: var(--shadow);
    background-color: var(--card-bg);
    border-radius: var(--radius-md);
    outline: var(--skill-span-outline);
    transition: box-shadow 300ms ease-in-out, transform 300ms ease-in-out;
}

.skill-category:hover {
    outline: 1px solid var(--primary);
    /* transform: translateY(-5px); */
    transform:scale(1.03);
    box-shadow: var(--shadow-hover);
    cursor: pointer;
}

.skill-category h3 {
    margin-bottom: 10px;
    color: var(--primary);
}

.skills-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;

}

.skills-buttons span {
    font-weight: 500;
    font-size: 0.875rem;
    padding: 5px 8px;
    border-radius: var(--radius-md);
    background-color: var(--bg-100);
    outline: var(--skill-span-outline);
    border: var(--border);

}


/* ---------- media queries ------------ */

@media (max-width: 768px) {

    /* Skills */
    .skills-grid {
        flex-direction: column;
        align-items: center;
        padding: 15px 10px;
    }
    .skill-category {
        flex: 1 1 100%;
        max-width: 80%;

    }
}