html{
    scroll-behavior: smooth;
    font-size: 1rem;
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif;
  background: var(--bg);
  color: var(--text-main);
  line-height: 1.5;
}
h1,
h1>span{
    font-size: 1.8rem;
}
h2,h3{
    font-size: 1.25rem;
    color: var(--custom-bg);
}
h4{
    font-size: 1rem;
}
h5{
    font-size: 0.875rem;
}

section {
    scroll-margin-top: 60px;
    
}
/* h2{
    color: var(--custom-bg);
} */