#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px var(--space-md);
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--bg);

}

.logo,
.text-primary {
  color: var(--primary);

}

/* Hamburger hidden on desktop */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: var(--dark);
  border-radius: 5px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px var(--space-md);
}

.inner-navbar>ul {
  padding-top: 15px;
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
  color: var(--text-secondary);
  transition: var(--transition);

}

.nav-item:hover {
  color: var(--primary);
}
.nav-actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding-left: 20px;
}

#theme-icon {
  cursor: pointer;

  transition:
    transform 0.4s ease,
    rotate 0.4s ease;

  color: var(--text-color);
}

#theme-icon:hover {
  transform: scale(1.1);
  rotate: 15deg;
}

/* ---------- media queries ------------ */

@media (max-width: 768px) {

  .hamburger {
    display: flex;
    color: var(--primary);
  }


  .inner-navbar {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background: var(--bg);
    /* background-color: var(--black); */
    display: none;
  }

  .inner-navbar>ul {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
  }

  .inner-navbar.active {
    display: block;
  }

  #header {
    padding: 10px 10px;
  }

  /* Header */
.inner-navbar>ul {
    gap: 18px;
  }
  .talk-btn {
    display: none;
  }

}