/* Navbar */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px var(--space-md);
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--bg-header);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);

}

#navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.inner-navbar>ul {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  color: var(--text-secondary);
  transition: var(--transition);

}

.nav-link:hover {
  color: var(--primary);
}

.nav-actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

/* Theme Icon */
#theme-icon {
  cursor: pointer;

  transition:
    transform 0.4s ease,
    rotate 0.4s ease;

  color: var(--text-color);
}

#theme-icon:hover {
  transform: scale(1.1);
  rotate: 15deg;
  color: var(--primary);
}

/* Talk Button */
.talk-btn {
  background-color: var(--custom-bg);
  border: none;
  cursor: pointer;
  transition: var(--transition);
}

/* ---------- media queries ------------ */

@media (max-width: 768px) {

  #header {
    padding: 10px 10px;
  }

  .inner-navbar {
    position: absolute;
    top: 47px;
    right: 0;
    width: 30%;
    background: var(--bg);
    transition: all 0.3s ease;
    display: none;
    border-bottom-left-radius: 10px;
    box-shadow: 0 4px 20px var(--shadow-hover);
  }

  .inner-navbar>ul {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
  }

  .inner-navbar.active {
    display: block;
  }

  .talk-btn {
    display: none;
  }

}